@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

article {
    width: 60%;
    margin: 100px 0px 100px 30px;}
h1 {
    color: aliceblue;
    font-size: 100px;
    font-family: 'passion one';
    font-weight: 500;  /* não funcionou */
}
h2 {
    color: aliceblue;
    padding: 20px;
}
h2:hover a {
    text-decoration: underline;
}
h2 a {
    text-decoration: none;
    color: aliceblue;
}
header {
    background: black;
    text-align: center;
    padding-top: 50px;  
}
p {
    font-family:'sriracha' ;
    font-size: 35px;
    line-height: 50px ;
    font-weight: 900;
    margin-left: 200px;
        }
#parte2 {
    display: inline-block;
    position: relative;
    background-image: url(joaninha-768x432.jpg.webp);
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 2px 2px 13px 0px rgba(0, 0, 0, 0.605);
}
#parte2 p {
    position: absolute;
    top: 20px;
    text-shadow: 1px 2px 10px black;  
    background-color: rgba(0, 0, 0, 0.453);
    color: aliceblue;
    width: 50%;
    max-width: 300px;
   }
#parte4 {
    background-image: url(pagina.jpg);
    color: aliceblue;
    background-attachment: fixed;
    position: relative;
    height: 800px;
}   
#parte4 p {
    background-color: rgba(0, 0, 0, 0.487);
    position: absolute;
    top: 35px;
    width: 30%;
    max-width: 300px;
}
footer a {
    font-size: 20px;
    color: aliceblue;
    text-decoration: none; 
    font-weight: bold;
}
footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 30px;
}
#ewerton:hover {
    text-decoration: underline; 
}
#cursoemvideo:hover {
    text-decoration: underline; 
}